.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.home {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1493159712361-1650642f2c5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.nav {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: blue;
}

nav {
  display: flex;
  font-size: 1.1rem;
  margin-top: 3%;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 15px 0;
  padding-left: 50px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(7, 18, 133);
}

.nav-link-active {
  color: rgba(10, 25, 175);
}

.main-text {
  text-align: left;
  margin-top: 20%;
  font-size: 2.2rem;
  font-weight: 500;
  margin-left: 5%;
}

.socials {
  margin-right: 10%;
  margin-top: 4%;
  background-color: rgba(10, 25, 175);
  opacity: 0;
}

@media screen and (min-width : 701px) and (max-width : 950px) {
  .nav-css {
    margin-left: 10%;
  }
}

@media screen and (min-width : 630px) and (max-width: 700px) {
  .nav-css {
    margin-left: 5%;
    font-size: 1rem;
  }
}

@media screen and (max-width: 629px) {
  .nav-css {
    font-size: 1.1rem;
    position: absolute;
    width: 100vw;
    padding-bottom: 14px;
  }
  .nav a {
    margin-right: 2%;
  }
  .nav a:nth-child(1) {
    padding-left: 4%;
  }
  .logo {
    margin-left: -30px;
    padding-left: 20px;
    margin-top: -40px;
  }
  .nav-link-active {
    color: red;
  }
}

.down-arrow {
  margin-top: 100px;
}

.content {
  height: 660px;
  color: black;
  display: flex;
  margin-top: 10%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-text {
  width: 20%;
  text-align: left;
  margin-left: 12%;
}

.content-image {
  width: 450px;
  height: 300px;
  margin-right: 3%;
  margin-top: 3%;
  margin-left: -3%;
}

.numbers {
  color: rgba(10, 25, 175);
}

.read-more {
  text-align: center;
  font-weight: 700;
}

.footer {
  height: 400px;
  background-color: rgba(10, 25, 175);
  color: white;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
}